:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 4rem;
  background-color: rgba(179, 207, 77, 0.397);
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 830px;
}

.inp-container {
  padding-left: 100px;
  padding-right: 100px;
}

.container-of-country {
  display: flex;
  justify-content: space-between;
  padding: 24px 44px;
}

.country-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input {
  border: 1px solid rgba(55, 230, 78, 0.534);
  border-radius: 4px;
  padding: 12px;
  padding-left: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

p {
  text-align: center;
  font-size: 23px;
}

h1 {
  text-align: center;
  font-size: 45px;
}

li {
  font-weight: 400;
  font-size: 20px;

  &:not(:last-child) {
    padding-bottom: 10px;
  }
}

span {
  font-weight: 400;
  font-size: 23px;
}
img {
  outline: 2px solid black;
  width: 25rem;
}
